.side_bar
  .side_bar__user-name
    .side_bar__user-name__top-items
      .side_bar__user-name__top-items__name
        kodai
      .side_bar__user-name__top-items__icons
        = link_to "#", class:"side_bar__user-name__top-items__icons--icon1" do
          <i class="far fa-edit"></i>
          %span<>
        = link_to "#", class:"side_bar__user-name__top-items__icons--icon2" do
          <i class="fas fa-cog"></i>
          %span<>
  .side_bar__group-list
    .side_bar__group-list__section
      .side_bar__group-list__section__group-name
        <b>techcamp</b>
      .side_bar__group-list__section__message
        <b>まだメッセがないよ</b>

    .side_bar__group-list__section
      .side_bar__group-list__section__group-name
        <b>techcamp</b>
      .side_bar__group-list__section__message
        <b>まだメッセがないよ</b>

    .side_bar__group-list__section
      .side_bar__group-list__section__group-name
        <b>techcamp</b>
      .side_bar__group-list__section__message
        <b>まだメッセがないよ</b>




